/*
 * @Author: XueYu 😊
 * @Date: 2019-03-15 15:23:19
 * @Last Modified by: XueYu 😊
 * @Last Modified time: 2019-03-19 18:11:22
 */
.card_row {
  width: 100%;
  display: flex;
  max-height: 270px;
  min-height: 270px;
  margin-bottom: 20px;
}
.card {
  cursor: pointer;
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  color: #fff;
  // background-color: #000;
  // box-shadow: 1px 1px 1px #aaaebc;
  border: 1px solid #eee;
  overflow: hidden;
}
.card_fill {
  flex: 1;
  display: flex;
  margin-right: 20px;
  background-color: transparent;
}
.card_row_full {
  composes: card_row;
  justify-content: space-around;
}
.card_row_part {
  composes: card_row;
  justify-content: flex-start;
}
.card_git {
  composes: card;
  border-radius: 10px;
  .card_show {
    flex: 1;
    overflow: hidden;
    background-color: #fff;
  }
  .card_bottom {
    display: flex;
    flex-direction: column;
    height: 100px;
    padding: 0 15px;
    background-color: #2d303a;
    .card_auther {
      display: flex;
      margin: 15px 0;
      .card_avatar {
        height: 40px;
        width: 40px;
        margin-right: 10px;
        background-color: blue;
      }
      .card_info {
        flex: 1;
        overflow: hidden;
        .card_info_title {
          font-weight: bolder;
          color: #fff;
          font-size: 14px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        .card_info_name {
          font-size: 14px;
          color: #aaaebc;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
    }
    .card_opts {
      font-size: 12px;
      flex: 1;
      display: flex;
      border-top: 1px solid #aaaebc;
      align-items: center;
      .card_opts_watch {
        color: #aaaebc;
      }
    }
  }
}