/*
 * @Author: XueYu😊
 * @Date: 2019-02-17 11:51:57
 * @Last Modified by: XueYu😊
 * @Last Modified time: 2019-02-17 11:53:11
 */

.canvas_wrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}