/*
 * @Author: XueYu 😊
 * @Date: 2019-02-28 16:00:22
 * @Last Modified by: XueYu 😊
 * @Last Modified time: 2019-02-28 16:04:29
 */
 .signUp {
  z-index: 99;
  position: absolute;
  right: 10px;
  bottom: 80px;
  padding: 10px;
}
.signUpBtn {
  composes: signUp;
  border-radius: 10px;
  background-color: black;
  color: #fff;
}

.signUpBtn_form {
  composes: signUp;
  background-color: #fff;
}