/*
 * @Author: XueYu 😊
 * @Date: 2019-02-26 17:15:49
 * @Last Modified by: XueYu 😊
 * @Last Modified time: 2019-02-26 17:47:19
 */
.signIn {
  z-index: 99;
  position: absolute;
  right: 10px;
  bottom: 10px;
  padding: 10px;
}
.signInBtn {
  composes: signIn;
  border-radius: 10px;
  background-color: black;
}

.signInBtn_form {
  composes: signIn;
  background-color: #fff;
}