/*
 * @Author: XueYu😊
 * @Date: 2018-12-31 22:55:24
 * @Last Modified by: XueYu😊
 * @Last Modified time: 2019-01-01 00:42:35
 */

#sider{
  color: #fff;
  position: absolute;
  z-index: 999;
  .menu {
    transition: width 1s;
    height: 100%;
    overflow: hidden;
    .menuItem {

    }
  }
}