html, body{
	padding: 0;
	margin: 0;
}
h1 {
	padding: 0;
	margin: 0;
}
#canvas{
	position: absolute;
	left: 0;
	top: 0;
}

body{
	background-color: #222;
	font-family: "Helvetica";
	overflow: hidden;
}


#tips{
	position: absolute;
	bottom: 25%;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	color: #fff;
	font-size: 26px;
}
#tips #message {
	font-size: 26px;
	background-color: transparent;
	color: #fff;
	border: none;
	text-align: center;
}
#tips .desc {
	font-size: 13px;
	font-weight: lighter;
	border-top: 1px solid rgba(255,255,255,.5);
	padding-top: 30px;
	color: rgba(255,255,255,.5);
}