/*
 * @Author: XueYu 😊
 * @Date: 2019-03-13 11:01:35
 * @Last Modified by: XueYu 😊
 * @Last Modified time: 2019-03-14 19:05:38
 */
.sideMenu {
  position: fixed;
  top: 20px;
	// background-color: transparent;
}
.menu_list {
  transform: translate(-270px, 0);
}
.menu_item {
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 5px;
  background: rgba(0, 0, 0, 0.36);
  width: 300px;
  text-align: right;
  padding: 10px;
  border-radius: 0 30px 30px 0;
  transition: all 1s;
  &:hover {
    transform: translate(80px, 0);
    background: rgba(255, 255, 255, 0.4);
    svg {
      color: #fff;
      background: rgba(0, 0, 0, 0.36);
      transform: rotate(360deg);
      transition: all 1s;
    }
  }
  svg {
    margin-left: 10px;
    color: #000;
    background: #fff;
    padding: 4px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 20px;
    background: #fff;
    transform: rotate(0deg);
  }
}
.menu_item_title {
}
.link {
  color: #000;
  display: inline-block;
}