/*
 * @Author: XueYu 😊
 * @Date: 2019-04-08 16:16:00
 * @Last Modified by: XueYu 😊
 * @Last Modified time: 2019-04-08 17:46:52
 */
#album {
  display: flex;
  flex-direction: column;
  min-height: 798px;
  min-width: 1000px;
  padding: 10px;
  box-sizing: border-box;
}
.up {
  flex: .8;
  display: flex;
  .main {
    flex: .7;
    background-color: lightblue;
  }
  .main_side {
    flex: .3;
    margin-left: 10px;
    // background-color: lightgrey;
    display: flex;
    flex-direction: column;
    .daily {
      flex: 1;
      background-color: lightgreen;
      border-radius: 5px;
    }
    .diary {
      flex: 1;
      margin-top: 10px;
      background-color: lightpink;
    }
  }
}
.down {
  flex: .2;
  margin-top: 10px;
  background-color: lightcoral;
}