/*
 * @Author: XueYu 😊
 * @Date: 2019-04-05 22:30:30
 * @Last Modified by: XueYu 😊
 * @Last Modified time: 2019-04-05 22:33:19
 */
.content_layout {
  min-height: 100vh;
  display: flex;
  padding-left: 160px;
}