/*
 * @Author: XueYu😊
 * @Date: 2018-12-31 18:18:13
 * @Last Modified by: XueYu😊
 * @Last Modified time: 2019-01-01 00:41:24
 */
:global {
  html, body{
    padding: 0;
    margin: 0;
  }
  body{
    background-color: #222;
    font-family: "Helvetica";
    overflow: hidden;
  }
  ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  h1 {
    padding: 0;
    margin: 0;
  }

  .icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    overflow: hidden;
  }
}